

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    margin: -8px;

}
a{
    text-decoration: none;
    text-align: none;
    color: black;
}
a:hover{
    background-color: rgb(198, 214, 214);
  
}
.inputSerch{
    height: 29px;

}
    
  li{
    text-decoration: none;
    text-align: none;
    list-style: none;
    width: fit-content;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    
}
  ul {
    background-color: rgb(252, 252, 252);
    font-size: 2em;
    line-height: 1.1;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

      
    
    
}